---
layout: default
---

<div class="box">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: "%-d %B, %Y. It was a %A." }} <a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></span><hr/>

    <span class="post-text">{{ content }}</span>
    {% include post-pagination.html %}
    <article>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
            </script>
            <script type="text/javascript" src="http://cdn.mathjax.org/math...">
            </script>        
    </article>
</div>

<!--<div class="box">-->
    <!-- google ads code box -->
<!--</div>-->

{% include JB/comments %}
